
<%- include("./header.ejs") %>


    <div class="col-lg-7">
       
        <form action="/users/login" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email">
    
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          
    
          <div class="form-group">
            <p class="bs-component">
              <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
            </p>
          </div>
    
        </form>
        <div class="form-group">
          <div>若无账号，请立即<a href="/users/regist">注册</a></div>
        </div>
      </div>

<%- include("./footer.ejs") %>
