<%- include("./header.ejs",{username:''}) %>

<p>Welcome to <%= title %></p>
<div class="col-lg-7">
    <div class="form-group">
        <div><a href="/">再看一会</a></div>
    </div>
    <div class="form-group">
        <div><a href="/users/logout_conform">立马走人</a></div>
    </div>


</div>

<%- include("./footer.ejs") %>